.card_div {
  padding: 0.5rem;
}

.card_div::before {
  content: '';
  position: absolute;
  background-color: #D1D7EB;
  width: 2px;
  height: 100%;
  top: 0;
  left: -5px;
}

.card_div_active::before {
  content: '';
  position: absolute;
  background-color: #D49C50;
  width: 2px;
  height: 100%;
  top: 0;
  left: -5px;
}
.card_div_active_done::before {
  content: '';
  position: absolute;
  background-color: #D49C50;
  opacity: 0.7;
  width: 2px;
  height: 100%;
  top: 0;
  left: -5px;
}


.card_div>div.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #D1D7EB;
}

.card_div_active>div.title {
  color: #D49C50;
}
.card_div_active_done>div.title {
  color: #D49C50;
  opacity: 0.7;
}

.card_div>div.title>div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-size: 14px;
}

.card_div>div.description {
  font-size: 12px;
  padding: 0.5rem 0 0.5rem 1.8rem;
}