

.cancel_next_div>button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: transparent;

  padding: 5px 12px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel_next_div>.button_cancel {
  display: flex;
  border: 1px solid #F46060;
  color: #F46060;
}

.cancel_next_div>.button_next {
  border: 1px solid #FFF;
  color: #878280;
}






.layer1_div {
  display: flex;
  column-gap: 36px;
}

.div_left {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.div_left>div {
  position: relative;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  width: 295px;
}






.div_drop_file_here {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 58px 78px;
  gap: 16px;
  width: 500px;
  height: 300px;

  background: rgba(209, 215, 235, 0.05);
  /* 3.Base/Gray */

  border: 2px dashed #878280;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.div_drop_file_done {
  width: 360px;
  height: 360px;
}

.div_drop_file_done>.div_preview_file {
  position: relative;
  width: 100%;
  height: 100%;
}

.div_drop_file_done img.preview_file {
  border-radius: 16px;
}

.div_info {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 15px 12px;
  font-size: 14px;
  border-radius: 6px;
  margin-top: 24px;
}

.div_info>div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #C2C2C6;
}

.div_info input {
  width: 75%;
}





.div_right {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

.div_step2 {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 360px;
}
.div_setting_card {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 12px;
  border-radius: 4px;
}

.div_setting_card > .div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div_setting_card > .div_header > .div_title {
  display: flex;
  align-items: center;
  column-gap: 7px;
  color: #C2C2C6;
}
.div_setting_card > .div_description {
  color: #C2C2C6;
  font-size: 9px;
  margin-top: 7px;
}
.div_setting_card > .div_description > span {
  color: #F4C270;
}

.div_setting_card > .div_content > p {
  font-size: 12px;
  color: #C2C2C6;
}

.div_receiver {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-size: 14px;
  margin-top: 12px;
}

.div_receiver > p {
  font-size: 12px;
  color: #F46060;
}

.div_feature_card {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 12px;
  margin-top: 12px;
}

.div_feature_card > .div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #C2C2C6;
  border-radius: 4px;
  
}
.div_feature_card > .div_header > .div_title {
  display: flex;
  align-items: center;
  column-gap: 7px;
  color: #C2C2C6;
}
.div_feature_card > .div_header > .div_title span {
  color: #C2C2C6;
  font-size: 12px;
}


.div_feature_card > .div_header > .control_icon {
  cursor: pointer;
}

.div_feature_card > .div_content {

}

.div_voucher, .div_attribute {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 14px;
  margin-top: 12px;
}

.div_voucher > div > .div_title, .div_attribute > div > .div_title {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.div_attribute > div > .div_input {
  display: flex;
  column-gap: 8px;
}


.red_hint {
  font-size: 10px;
  color: #F46060;
  margin-top: 4px;
}

.white_hint {
  font-size: 10px;
  color: #C2C2C6;
  margin-top: 4px;
}

.button_add_attribute {
  color: #878280;
  font-size: 12px;
  cursor: pointer;
}


.div_upgradable {
  margin-top: 12px;
}
.div_upgradable > .div_nav {
  font-size: 12px;
  color: #FFF;
  text-decoration: underline;
}
.div_upgradable > .div_content {
  font-size: 12px;
  color: #C2C2C6;
  margin-top: 11px;
}

.flex_ac_gap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 24px;
}